body{
  background-color:#F0F8FB; 
  
}
   
  section.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background: :#F0F8FB;
    margin-top: 50px;
    padding: 0 2rem;
  }
  
  section.content li {
    display:flex;
    
    padding: 0 2rem;
    flex-direction: row;
    background-color:white;
    margin: 6px;
    
  }
section.content li p{
  display: flex;
  padding: 0 2rem;
  min-height: 20px;
  justify-content: space-between;
  width: 200px;
}

section.content li:hover{
  background-color: cornflowerblue; 
  margin: 0 auto ;
 transform: scale(1);
}
#a{
  background-color:white; /* Green */
  border: black;
  color: black;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
}
button.r{
  background-color:white; /* Green */
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin: 6px;

}
button.b{
  background-color: blanchedalmond;
}
 select{
   padding:5px 5px; 
 }
 input[type=text] {
  
  padding: 6px;
  border: none;
  font-size: 17px;
}

 
